/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.bookView{
    width:25%;
    float:left;
    padding:7px;
}

.detailsBook{
  background-color: #f0f0f0;
  margin:10px;
  padding:20px;
  margin-top:-15vh;
  opacity: 0.93;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  border-radius:8px;
}

.bookListCard{
  height:220px;
}
.bookList_cross{
  background-color: #a6a6a6;
  color:black;
  padding:1px 4px;
  border-radius: 50%;
  border:3px solid black;
}
.inputContainer{
  background-color: #f0f0f0;
  margin:20px;
  padding:25px;
  border-radius: 10px;
}

.lockerInfoCard{
  padding:12px;
  background-color: #f0f0f0;
  margin:8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.selectBG{
  padding:20px 10px 20px 10px;
  background:#dadada;
}
.tmp{
  padding:10px;
}
.book_adding_loading{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.516);
  z-index: 10;
}
.capitalize{
  text-transform: capitalize;
}
.next_prev_btn{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  padding:5px 0px 15px 0px;
  background: white;
  z-index: 5;
}
.guardCard{
  background:#f0f0f0;
  padding:12px;
  margin:15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  overflow:hidden
}
.adminCard{
  background-color: #f0f0f0;
  padding:8px 8px 15px 8px;
  border-radius:7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  margin:3px;
  margin-bottom:17px
}
.ActivityCard{
  background-color: #f0f0f0;
  padding:8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.30);
  margin:10px 5px 10px 5px;
  font-size: small;
}
.student_card{
  background-color: #f0f0f0;
  padding:15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
  margin-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .bookView{
    width:50%;
  }
  .bookCard{
    height:255px;
  }
  .bookListCard{
    height:240px;
  }
  .tmp{
    padding:0px;
  }
}